<!DOCTYPE html>
<html lang="en">
<head>
{% include '_page-head.html.j2' %}
  <style>
{% include '_page-style.css.j2' %}
  </style>
</head>
<body>
  <div class="container">
{% include '_doc-body.html.j2' %}
  </div>

{% include '_page-scripts.html.j2' %}
</body>
</html>
