format-md: ## Format markdown files
	$(DC) pull format-md
	$(DC) run --rm format-md

{% if has_pdfs %}
pdf: format-md ## Generate PDFs from markdown files
	$(DC) build pdf
{% for md in pdfs %}
	$(DC) run --rm pdf --metadata title="{{ name }}" {{ md }} -o {{ md | replace('.md', '.pdf') }}
{% endfor %}
	@echo "Generated PDFs"

{% endif %}
