<?xpacket begin='' id='W5M0MpCehiHzreSzNTczkc9d'?>
<x:xmpmeta xmlns:x='adobe:ns:meta/'>
<rdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#'>
  <rdf:Description rdf:about=''
    xmlns:dc='http://purl.org/dc/elements/1.1/'
    xmlns:pdf='http://ns.adobe.com/pdf/1.3/'
    xmlns:xmp='http://ns.adobe.com/xap/1.0/'
    xmlns:pdfaid='http://www.aiim.org/pdfa/ns/id/'
    xmlns:pdfuaid='http://www.aiim.org/pdfa/ns/id/'>
    <dc:title>
      <rdf:Alt>
        <rdf:li xml:lang='x-default'>{{ package_id }}</rdf:li>
      </rdf:Alt>
    </dc:title>
    <pdf:Producer>LaTeX via pandoc</pdf:Producer>
    <xmp:CreatorTool>LaTeX via pandoc</xmp:CreatorTool>
    <pdfaid:part>1</pdfaid:part>
    <pdfaid:conformance>B</pdfaid:conformance>
    <pdfuaid:part>2</pdfuaid:part>
  </rdf:Description>
</rdf:RDF>
</x:xmpmeta>
<?xpacket end='w'?>
